{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs">
    <div class="container">
  
      <div class="d-flex justify-content-between align-items-center">
        <h2>
            {% if operation == 'create' %}
                반려동물 추가
            {% else %}
                반려동물 정보
            {% endif %}
        </h2>
        <ol>
          <li><a href="{% url 'main' %}">Home</a></li>
          <li><a href={% url 'pet:index' %}>반려동물 목록</a></li>
          <li>
            {% if operation == 'create' %}
                반려동물 추가
            {% else %}
                반려동물 정보
            {% endif %}
          </li>
        </ol>
      </div>
  
    </div>
</div><!-- End Breadcrumbs -->

<!-- ======= Contents ======= -->
<div class="container d-flex justify-content-end mt-4 px-3 pb-2">
    <label><label style="color: red;"> *</label> 필수 입력</label>
</div>
<div class="container card register-form shadow px-5 mb-5 py-4">
    <form method="post" enctype="multipart/form-data">

        {% csrf_token %}
        <!-- 오류표시 Start -->
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            {% for field in form %}
            {% if field.errors %}
            <div>
                <strong>{{ field.label }}</strong>
                {{ field.errors }}
            </div>
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}
        <!-- 오류표시 End -->

        <div class="row">
            <!-- 프로필 Start -->
            <div class="col-lg-3">
                <div class="my-4">
                    
                    <h5 for="image" class="form-label">프로필 이미지</h5>
                    <div class="my-4">
                        {% if pet.image %}
                            <img src="{{ pet.image.url }}" alt="Post Image" class="img-fluid">
                        {% endif %}
                    </div>
                    
                    <input type="file" class="form-control" name="image" id="image" accept="image/*">
                    
                </div>
            </div>   <!-- 프로필 End -->

            <!-- pet 정보 Start -->
            <div class="col-lg-9 px-5">
                <div class="my-4 d-flex justify-content-start">
                    <h5 for="name" class="form-label mt-1" style="width: 6rem;">&bull; <label style="color: red;"> *</label> 이름 : </h5>
                    <input type="text" class="form-control" name="name" id="name" placeholder="이름을 작성해주세요." 
                            value="{{ form.name.value|default_if_none:'' }}">
                </div>

                <div class="my-4 d-flex justify-content-start">
                    <h5 for="owner_name" class="form-label mt-1" style="width: 20rem;">&bull; <label style="color: red;"> *</label> 반려인을 부르는 애칭 : </h5>
                    <input type="text" class="form-control" name="owner_name" id="owner_name" placeholder="반려인 애칭을 작성해주세요." 
                            value="{{ form.owner_name.value|default_if_none:'' }}">
                </div>

                <div class="row my-4">
                    <div class="col-lg-5 ">
                        <div class="d-flex">
                            <h5 for="kind" class="form-label">&bull; <label style="color: red;"> *</label> 종류 : </h5>
                            <div class="mx-3">{{ form.kind }}</div>
                        </div>
                    </div>
                    <div class="col-lg-7 ">
                        <div class="d-flex">
                            <h5 for="gender" class="form-label">&bull; <label style="color: red;"> *</label> 성별+중성화여부 : </h5>
                            <div class="mx-3">{{ form.gender }}</div>
                            <div class="mx-3">{{ form.is_neutered }} 중성화 완료</div>
                        </div>
                    </div>
                </div>

                <div class="my-4 d-flex">
                    <h5 for="meet_day" class="form-label">&bull; 만난 날</h5>
                    <div class="mx-3">{{ form.meet_day }}</div>
                </div>
            
                <div class="my-4 d-flex">
                    <h5 for="birth_day" class="form-label">&bull; 생년월일</h5>
                    <div class="mx-3">{{ form.birth_day }}</div>
                </div>

                <div class="d-flex align-items-center">
                    <h5>&bull; PBTI (Pet Behavior Type Indicator)</h5>
                    <div class="mx-3 mb-4">
                        <a data-bs-toggle="modal" href="#portfolioModal" data-gallery="portfolioGallery"
                            class="dbti-tooltip tooltip-link"
                            data-tooltip="클릭하시면 PBTI의 자세한 설명을 확인할 수 있습니다.">
                            <p><i class='bi bi-question-circle'></i></p>
                        </a>
                    </div>
                </div>
                
                <div class="row px-4">
                    <div class="col mb-3">
                        <label for="dbti-proto_dog" class="form-label">(1) 야생성</label>
                        <div class="mx-3">{{ form.proto_dog }}</div>
                    </div>
                    <div class="col mb-3">
                        <label for="dbti-dependence" class="form-label">(2) 의존성</label>
                        <div class="mx-3">{{ form.dependence }}</div>
                    </div>
                    <div class="col mb-3">
                        <label for="dbti-relationship" class="form-label">(3) 관계성</label>
                        <div class="mx-3">{{ form.relationship }}</div>
                    </div>
                    <div class="col mb-3">
                        <label for="dbti-activity" class="form-label">(4) 활동성</label>
                        <div class="mx-3">{{ form.activity }}</div>
                    </div>
                </div>
            </div>    <!-- pet 정보 End -->
        </div>

        <!-- 버튼 Start -->
        {% if operation == 'create' %}
        <div class="d-flex mt-5">{% comment %} 오른쪽 정렬: text-lg-end {% endcomment %}
            <button type="submit" class="btn-register flex-fill">추가하기</button>
        </div>
        {% else %}
        <div class="d-flex mt-5 justify-content-end">{% comment %} 오른쪽 정렬: text-lg-end {% endcomment %}
            <button type="submit" class="btn-register mx-2">수정완료</button>
            <a href="#" class="delete btn-register mx-2"
            data-uri="{% url 'pet:pet_delete' pet.id  %}">삭제하기</a>
        </div>
        {% endif %}
        <!-- 버튼 End -->

        <!-- 반려동물 성격유형 설명 Modal창 Start -->
        <div class="portfolio-modal modal fade my-5" id="portfolioModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-10">
                                    <div class="modal-body py-4">

                                        <!-- Project details-->
                                        <div class="item-intro mt-5 mb-4">
                                            <h3 class="text-danger text-center">
                                                <i class="bi bi-postage-heart"></i> 
                                                반려동물의 PBTI를 기반으로 성격에 맞는 일기를 작성해줍니다!
                                                <i class="bi bi-postage-heart"></i> 
                                            </h3>
                                            <h5 class=" text-center">
                                                아래 설명을 읽고, 해당하는 유형에 체크해주세요!
                                            </h5>
                                            <br>
                                        </div>

                                        <h3 class="text-uppercase mb-3 content-bold">&bull; PBTI란?</h3>
                                        <div class="mx-3">
                                            PBTI(Pet Behavior Type Indicator)란, 애완동물의 성격 유형을 나타내는 도구로, 
                                            야생성, 의존성, 관계성, 활동성이라는 네 가지 요소를 조합하여 16가지 성격 유형을 생성합니다.<br>
                                            PBTI는 각 애완동물의 성격 특성을 이해하고, 주인이 애완동물과 더 나은 관계를 형성하고 돌봄을 제공할 수 있도록 도와줍니다. 
                                            각 유형은 다양한 특징과 행동 양식을 가지고 있으며, 이를 이해하면 애완동물의 행동을 예측하고 조절하는 데 도움이 됩니다.
                                        </div>

                                        <h3 class="mt-5 mb-3">&bull; PBTI의 4가지 기준</h3>
                                        <div class="list-inline my-4 p-2 align-self-center">
                                            <img src={% static "img/pbti.png" %} class="w-100">
                                        </div>

                                        <div class="d-md-flex justify-content-md-end">
                                            <button class="btn btn-info btn-xl text-uppercase d-grid col-3 " data-bs-dismiss="modal" type="button">
                                                닫기
                                            </button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>     <!-- 반려동물 성격유형 설명 Modal창 End-->

    </form>
</div><!-- End Contents -->
{% endblock %}

{% block script %}
<script type='text/javascript'>
const delete_elements = document.getElementsByClassName("delete");
Array.from(delete_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        if(confirm("정말로 삭제하시겠습니까?")) {
            location.href = this.dataset.uri;
        };
    });
});
</script>

{% comment %} <script>
    $("[data-toggle='tooltip']").tooltip();
</script> {% endcomment %}
{% endblock %}
