<h1>반려동물 목록</h1>
<div class="col-6">
    <a href="{% url 'pet:pet_create' %}" class="btn btn-primary">반려동물 추가</a>
</div>
{% if pet_list %}
<ul>
{% for pet in pet_list %}
    <li>
        <a href="{% url 'pet:detail' pet.id %}">
        <h2>반려동물 이름 : {{ pet.name }}</h2>
        {% if pet.image %}
        <img src="{{ pet.image.url }}" alt="Post Image" style="max-height: 400px; width: auto;">
        {% endif %}
        <div>주인 닉네임 : {{pet.user.nick_name}}</div>
        </a>
        <div class="my-3">
            <a href="{% url 'pet:pet_modify' pet.id 'list'  %}" 
               class="btn btn-sm btn-outline-secondary">수정하기</a>
            <a href="#" class="delete btn btn-sm btn-outline-secondary "
               data-uri="{% url 'pet:pet_delete' pet.id  %}">삭제하기</a>
        </div>
    </li>
{% endfor %}
</ul>
{% else %}
<p>반려동물이 없습니다.</p>
{% endif %}
{% block script %}
<script type='text/javascript'>
const delete_elements = document.getElementsByClassName("delete");
Array.from(delete_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        if(confirm("정말로 삭제하시겠습니까?")) {
            location.href = this.dataset.uri;
        };
    });
});
</script>
{% endblock %}