<div class="pet_content">
    <h2>반려동물 이름 : {{ pet.name }}</h2>
    <div>주인 닉네임 : {{pet.user.nick_name}}</div>
    <div>주인 부르는 이름 : {{pet.owner_name}}</div>
    <div>반려동물 성별 : {{pet.gender}}</div>
    <div>반려동물 분류 : {{pet.kind}}</div>
    <div>반려동물 생일 : {{pet.birth_day}}</div>
    <div>반려동물 만난날 : {{pet.meet_day}}</div>
    {% for personality in pet.personality_set.all %}
    <div>반려동물 dbti : {{personality.activity}}{{personality.relationship}}{{personality.proto_dog}}{{personality.dependence}}</div>
    {% endfor %}
</div>
<div class="my-3">
    <a href="{% url 'pet:pet_modify' pet.id 'detail' %}" 
       class="btn btn-sm btn-outline-secondary">수정하기</a>
    <a href="#" class="delete btn btn-sm btn-outline-secondary "
       data-uri="{% url 'pet:pet_delete' pet.id  %}">삭제하기</a>
</div>
<div class="my-3">
    <a href="{% url 'pet:index' %}" 
       class="btn btn-sm btn-outline-secondary">목록으로</a>
</div>
{% block script %}
<script type='text/javascript'>
const delete_elements = document.getElementsByClassName("delete");
Array.from(delete_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        if(confirm("정말로 삭제하시겠습니까?")) {
            location.href = this.dataset.uri;
        };
    });
});
</script>
{% endblock %}