{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs">
    <div class="container">
  
      <div class="d-flex justify-content-between align-items-center">
        <h2>
            {% if operation == 'create' %}
                반려동물 추가
            {% else %}
                반려동물 정보
            {% endif %}
        </h2>
        <ol>
          <li><a href="{% url 'main' %}">Home</a></li>
          <li><a href={% url 'pet:index' %}>반려동물 목록</a></li>
          <li>
            {% if operation == 'create' %}
                반려동물 추가
            {% else %}
                반려동물 정보
            {% endif %}
          </li>
        </ol>
      </div>
  
    </div>
</div><!-- End Breadcrumbs -->

<!-- ======= Content Section ======= -->
<section class='content'>
    <div class="container my-3" data-aos="fade-up">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <a href="{% url 'pet:index' %}" 
                class="btn btn-outline-success">목록으로</a>
                <ul>
                    <li><a href="{% url 'pet:pet_modify' pet.id 'detail' %}" 
                        class="btn-register">수정하기</a></li>
                    <li><a href="#" class="delete btn-register"
                        data-uri="{% url 'pet:pet_delete' pet.id  %}">삭제하기</a></li>
                </ul>
            </div>
        </div>
        <hr>
        
        <div class="container mb-5 pb-4">

            

            <div class="row">

                <!-- 프로필 사진 Start -->
                <div class="col-lg-6  px-5 mb-5 pb-4">
                    {% if pet.image %}
                        <img src="{{ pet.image.url }}" class="card shadow img-fluid profile-img" alt="Post Image" style="width: auto;">
                    {% else %}
                        <img src="{% static "img/pp.jpg" %}" class="card shadow img-fluid profile-img" alt="Post Image" style="width: auto;">
                    {% endif %}
                </div><!-- 프로필 사진 End -->

                <!-- pet 정보 Start -->
                <div class="col-lg-6 card register-form shadow">
                    <div class="card-header p-5">
                        <div class="d-flex justify-content-center ">
                            <div class="card-pet-name">{{ pet.name }}</div>
                        </div>
                    </div>

                    <div class="pet_content p-4">

                        <div class="p-3">

                            <div class="d-flex my-4">
                                <h4 class="px-2">주인 닉네임 </h4> 
                                <h5 class="mx-3">{{pet.user.nick_name}}</h5>
                            </div>

                            <div class="d-flex my-4">
                                <h4 class="px-2">주인을 부르는 이름 </h4> 
                                <h5 class="mx-3">{{pet.owner_name}}</h5>
                            </div>

                            <div class="d-flex my-4">
                                <h4 class="px-2">성별 </h4> 
                                <h5 class="mx-3">{% if pet.gender == 'W' %} 여자 {% else %} 남자 {% endif %}</h5>
                            </div>

                            <div class="d-flex my-4">
                                <h4 class="px-2">분류 </h4> 
                                <h5 class="mx-3">{% if pet.kind == 'Dog' %} 강아지 {% else %} 고양이 {% endif %}</h5>
                            </div>

                            <div class="d-flex my-4">
                                <h4 class="px-2">생일 </h4> 
                                <h5 class="mx-3">{{pet.birth_day}}</h5>
                            </div>

                            <div class="d-flex my-4">
                                <h4 class="px-2">만난날 </h4> 
                                <h5 class="mx-3">{{pet.meet_day}}</h5>
                            </div>

                            {% for personality in pet.personality_set.all %}
                                <div class="d-flex  align-items-center my-2">
                                    <h4 class="px-2">PBTI (Pet Behavior Type Indicator) </h4> 
                                    <h5 class="mx-3">{{personality.proto_dog}}{{personality.dependence}}{{personality.relationship}}{{personality.activity}}</h5>
                                    <div class="pb-3">
                                        <a data-bs-toggle="modal" href="#portfolioModal" data-gallery="portfolioGallery"
                                            class="dbti-tooltip tooltip-link-16"
                                            data-tooltip="클릭하시면 내 반려동물의 PBTI에 대한 자세한 설명을 확인할 수 있습니다.">
                                            <p><i class='bi bi-question-circle'></i></p>
                                        </a>
                                    </div>
                                </div>
                                {% endfor %}
                            
                        </div>

                    </div>
                </div>  <!-- pet 정보 End -->

            </div>
        </div>
        
    </div>

    <!-- 반려동물 성격유형 설명 Modal창 Start -->
    <div class="portfolio-modal modal fade my-5" id="portfolioModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="close-modal" data-bs-dismiss="modal">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-10">
                                <div class="modal-body py-4">

                                    <!-- Project details-->
                                    <div class="item-intro mt-5 mb-4">
                                        <h2 class="text-danger text-center">
                                            <i class="bi bi-hearts"></i> 
                                            내 반려동물의 PBTI는?
                                            <i class="bi bi-hearts"></i> 
                                        </h2>
                                        <br>
                                    </div>

                                    <div class="my-dbti-16">

                                        <h4 class="type text-uppercase content-bold">1. WTIL (Wild Trusting Introverted Laid-back)</h4>
                                        <div class="detail">
                                            주인과의 근접과 안정을 중요시합니다. 새로운 환경이나 변화에 대해서는 조심스럽게 대처하는 경향이 있습니다. 
                                            상황을 천천히 파악하고 안전한 곳에서 편안함을 찾는 경향이 있습니다.
                                        </div>
                                        <h4 class="type text-uppercase content-bold">2. WTIA (Wild Trusting Introverted Adventurous)</h4>
                                        <div class="detail">
                                            주인을 신뢰하며 새로운 경험을 추구합니다. 
                                            주변 환경에 조금 더 적극적으로 호기심을 갖고 탐험을 즐깁니다. 새로운 도전에도 열린 마음으로 다가갈 준비가 되어 있습니다.
                                        </div>
                                        <h4 class="type text-uppercase content-bold">3. WNIA (Wild Needy Introverted Adventurous)</h4>
                                        <div class="detail">
                                            주인의 관심과 새로운 경험을 필요로 합니다. 
                                            주변 환경에 대해 호기심을 갖고 새로운 도전을 추구하며, 주인에게 의지하면서도 독립성을 유지합니다. 
                                            다양한 경험을 통해 성장하고 발전할 수 있는 잠재력이 있습니다.
                                        </div>
                                        <h4 class="type text-uppercase content-bold">4. WNIL (Wild Needy Introverted Laid-back)</h4>
                                        <div class="detail">
                                            주인과의 근접과 안정을 중요시합니다. 주인에게 의지하면서도 주변 환경에서의 적절한 휴식과 편안함을 추구합니다. 
                                            조용한 환경에서 주인과의 근접을 즐깁니다.
                                        </div>
                                        <h4 class="type text-uppercase content-bold">5. WTEL (Wild Trusting Extroverted Laid-back)</h4>
                                        <div class="detail">
                                            주변 환경을 조심스럽게 관찰하면서 사회적 상호작용을 즐깁니다. 주인과의 근접을 중요시하며 안정된 환경에서 즐거움을 찾습니다. 
                                            사회적인 인터랙션을 통해 에너지를 얻을 수 있습니다.
                                        </div>
                                        <h4 class="type text-uppercase content-bold">6. WTEA (Wild Trusting Extroverted Adventurous)</h4>
                                        <div class="detail">
                                            주변 환경을 조심스럽게 관찰하면서 새로운 사람이나 동물과의 상호작용을 즐깁니다. 
                                            새로운 경험과 도전을 통해 자신을 발전시키고 성장하는 것을 선호합니다. 주인과 함께 모험을 즐기며 끊임없이 새로운 경험을 찾습니다.
                                        </div>
                                        <h4 class="type text-uppercase content-bold">7. WNEA (Wild Needy Extroverted Adventurous)</h4>
                                        <div class="detail">
                                            주인의 관심과 새로운 경험을 추구하면서 사회적 상호작용을 중요시합니다. 
                                            활동적이며 다양한 환경에서 자신의 소셜 네트워크를 형성하고 소통하는 것을 즐깁니다. 다른 사람이나 동물과 함께 활동하는 것을 좋아합니다.
                                        </div>
                                        <h4 class="type text-uppercase content-bold">8. WNEL (Wild Needy Extroverted Laid-back)</h4>
                                        <div class="detail">
                                            주인과의 근접과 안정을 중요시하며 사회적 상호작용을 즐깁니다. 
                                            활발한 환경에서도 편안함과 안정을 유지하며, 다른 사람이나 동물과의 교류를 통해 에너지를 얻습니다.
                                        </div>
                                        <h4 class="type text-uppercase content-bold">9. CTEL (Cautious Trusting Extroverted Laid-back)</h4>
                                        <div class="detail">
                                            외향적이며 다른 사람이나 동물과의 사회적 상호작용을 즐깁니다. 
                                            새로운 환경이나 변화에 조심스럽게 적응하며 안정을 추구합니다. 다른 사람과의 관계에서 신뢰와 안전을 중요시합니다.
                                        </div>
                                        <h4 class="type text-uppercase content-bold">10. CTEA (Cautious Trusting Extroverted Adventurous)</h4>
                                        <div class="detail">
                                            외향적이며 새로운 사람이나 동물과의 상호작용을 추구합니다. 
                                            새로운 경험과 도전을 조심스럽게 받아들이지만, 주인과의 관계에서 신뢰를 바탕으로 모험을 즐깁니다.
                                        </div>
                                        <h4 class="type text-uppercase content-bold">11. CNEA (Cautious Needy Extroverted Adventurous)</h4>
                                        <div class="detail">
                                            외향적이며 주인의 관심과 새로운 경험을 추구하면서 사회적 상호작용을 중요시합니다. 
                                            조심스럽게 다가가지만, 새로운 도전을 통해 성장하고 발전할 수 있는 잠재력이 있습니다.
                                        </div>
                                        <h4 class="type text-uppercase content-bold">12. CNEL (Cautious Needy Extroverted Laid-back)</h4>
                                        <div class="detail">
                                            외향적이며 다른 사람이나 동물과의 사회적 상호작용을 즐깁니다. 
                                            적절한 휴식과 안정을 추구하면서도 주변 환경에서의 관계를 중요시합니다. 안전한 환경에서도 편안함을 유지합니다.
                                        </div>
                                        <h4 class="type text-uppercase content-bold">13. CTIA (Cautious Trusting Introverted Adventurous)</h4>
                                        <div class="detail">
                                            내향적이며 새로운 경험을 조심스럽게 받아들이지만, 주인과의 관계에서는 신뢰를 바탕으로 모험을 즐깁니다. 
                                            안정된 환경에서도 모험을 추구하고 발전할 수 있습니다.
                                        </div>
                                        <h4 class="type text-uppercase content-bold">14. CTIL (Cautious Trusting Introverted Laid-back)</h4>
                                        <div class="detail">
                                            내향적이며 주인과의 근접과 안정을 중요시합니다. 주변 환경에서 조심스럽게 행동하면서도 안정과 평온을 추구합니다.
                                        </div>
                                        <h4 class="type text-uppercase content-bold">15. CNIA (Cautious Needy Introverted Adventurous)</h4>
                                        <div class="detail">
                                            내향적이며 주인의 관심과 새로운 경험을 필요로 합니다. 조심스럽게 도전하면서도 주인에게 의지하고 독립성을 유지합니다. 
                                            다양한 경험을 통해 성장하고 발전할 수 있는 잠재력이 있습니다.
                                        </div>
                                        <h4 class="type text-uppercase content-bold">16. CNIL (Cautious Needy Introverted Laid-back)</h4>
                                        <div class="detail">
                                            내향적이며 주인과의 근접과 안정을 중요시합니다. 주인에게 의지하면서도 적절한 휴식과 편안함을 추구합니다. 
                                            조용한 환경에서 주인과의 근접을 즐깁니다.
                                        </div>
                                        
                                    </div>

                                    <div class="d-md-flex justify-content-md-end">
                                        <button class="btn btn-info btn-xl text-uppercase d-grid col-3 " data-bs-dismiss="modal" type="button">
                                            닫기
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>     <!-- 반려동물 성격유형 설명 Modal창 End-->

</section>
{% endblock %}

{% block script %}
<script type='text/javascript'>
const delete_elements = document.getElementsByClassName("delete");
Array.from(delete_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        if(confirm("정말로 삭제하시겠습니까?")) {
            location.href = this.dataset.uri;
        };
    });
});
</script>
{% endblock %}

{% comment %} 
{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs">
    <div class="container">
  
      <div class="d-flex justify-content-between align-items-center">
        <h2>반려동물 정보 확인</h2>
        <ol>
          <li><a href="">Home</a></li>
          <li>반려동물 정보 확인</li>
        </ol>
      </div>
  
    </div>
</div><!-- End Breadcrumbs -->

<div class="container">
    <div class="container my-3" data-aos="fade-up">
        <div class="d-flex justify-content-between align-items-center">
            <div class="card board-title">
                {% if post.category == "free_type" %}
                <h5>자유게시판</h5>
                {% elif post.category == "brag_type" %}
                <h5>자랑게시판</h5>
                {% elif post.category == "worry_type" %}
                <h5>고민게시판</h5>
                {% endif %}
            </div>
            <ul class="ul-btn">
                <li>
                    <a href="{% url 'pet:pet_modify' pet.id 'detail' %}" 
                        class="btn-register">수정하기</a>
                </li>
                <li>
                    <a href="#" class="btn-register "
                        data-uri="{% url 'pet:pet_delete' pet.id  %}">삭제하기</a>
                </li>
            </ul>

        </div>
        <hr>

        <div class="pet_content">
            <h2>반려동물 이름 : {{ pet.name }}</h2>
            <div>주인 닉네임 : {{pet.user.nick_name}}</div>
            <div>주인 부르는 이름 : {{pet.owner_name}}</div>
            <div>반려동물 성별 : {{pet.gender}}</div>
            <div>반려동물 분류 : {{pet.kind}}</div>
            <div>반려동물 생일 : {{pet.birth_day}}</div>
            <div>반려동물 만난날 : {{pet.meet_day}}</div>
            {% for personality in pet.personality_set.all %}
            <div>반려동물 dbti : {{personality.activity}}{{personality.relationship}}{{personality.proto_dog}}{{personality.dependence}}</div>
            {% endfor %}
        </div>
        
        <div class="my-3">
            <a href="{% url 'pet:index' %}" 
            class="btn btn-sm btn-outline-secondary">목록으로</a>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script type='text/javascript'>
const delete_elements = document.getElementsByClassName("delete");
Array.from(delete_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        if(confirm("정말로 삭제하시겠습니까?")) {
            location.href = this.dataset.uri;
        };
    });
});
</script>
{% endblock %}
{% endcomment %}