{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs">
    <div class="container">
  
      <div class="d-flex justify-content-between align-items-center">
        <h2>반려동물 목록</h2>
        <ol>
          <li><a href="{% url 'main' %}">Home</a></li>
          <li>반려동물 목록</li>
        </ol>
      </div>
  
    </div>
</div><!-- End Breadcrumbs -->

<div class="container my-3" data-aos="fade-up">
    <div class="d-flex justify-content-between my-4">
      <label class="mx-2">
        전체  &nbsp <span class="text-danger">{{ pet_list.count }}</span>
      </label>
      <div>
        <a href="{% url 'pet:pet_create' %}" class="btn-register">추가하기</a>
      </div>
    </div>
    <hr>

    <!-- ======= 반려동물 리스트 ======= -->
    <div class="container portfolio" id="portfolio">

        {% if pet_list %}
        <div class="row portfolio-container">

            {% for pet in pet_list %}
                <div class="col-lg-4 col-md-6 portfolio-item filter-app shadow d-flex flex-column">
                    <div class="portfolio-wrap">

                        <div class="">
                            {% if pet.image %}
                                <img src="{{ pet.image.url }}" alt="Post Image" class="portfolio-img d-block rounded">
                            {% else %}
                                <img src="{% static "img/pp.jpg" %}" alt="Post Image" class="portfolio-img d-block rounded">
                            {% endif %}
                        </div>

                        <div class="portfolio-info">
                            <div class="my-4">
                                <a href="{% url 'pet:pet_modify' pet.id 'list'  %}" 
                                class="btn btn-sm btn-outline-secondary">
                                    <i class="bi bi-pencil"></i> 수정하기
                                </a>
                                <a href="#" class="delete btn btn-sm btn-outline-secondary "
                                data-uri="{% url 'pet:pet_delete' pet.id  %}">
                                    <i class="bi bi-trash3"></i> 삭제하기
                                </a>
                            </div>
                            <div class="portfolio-links my-2">
                                <!-- === 모달창 부분 === -->
                                {% comment %} <a class="portfolio-link portfolio-lightbox" data-bs-toggle="modal" href="#portfolioModal" data-gallery="portfolioGallery" title="More Details">
                                    <i class="bi bi-link-45deg"></i>
                                </a> {% endcomment %}
                                <a href={% url 'pet:detail' pet.id %} title="More Details" class="my-2">
                                    <i class="bi bi-plus-lg"></i>
                                </a>
                                <a href={% url 'diary:diary_create_before' %} title="Write Diary" class="my-2">
                                    <i class="bi bi-journal-plus"></i>
                                </a>
                            </div>
                        </div>
                        
                    </div>

                    <div class="portfolio-caption align-self-center">
                        <a href="{% url 'pet:detail' pet.id %}">
                            <h3 class="portfolio-caption-heading mb-3">{{ pet.name }}</h3>
                            <div class="portfolio-caption-subheading text-muted">
                                {% if pet.kind == "Dog" %}
                                    <i class="bi bi-person-fill"></i> {{pet.user.nick_name}}~ 일기 쓰개!
                                {% else %}
                                    <i class="bi bi-person-fill"></i> {{pet.user.nick_name}}~ 일기 쓸고양?
                                {% endif %}
                            </div>
                        </a>
                    </div>

                </div>
            {% endfor %}

        </div>
        {% else %}
            <div class="text-center mt-3">
                <img src={% static "img/no posts.jpg"%} class="img-fluid">
                <h1 class="mt-4">No Pets!</h1>
            </div>
        {% endif %}

    </div>   <!-- End 반려동물 리스트 -->

    {% comment %} <!-- 반려동물 detail Modal창-->
    <div class="portfolio-modal modal fade" id="portfolioModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="close-modal" data-bs-dismiss="modal">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="modal-body">
                                <iframe src="">대체 내용</iframe>
                                <!-- Project details-->
                                <h2 class="text-uppercase">Project Name</h2>
                                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                <img class="img-fluid d-block mx-auto" src={% static "img/pp.jpg" %} alt="..." />
                                <p>Use this area to describe your project!</p>
                                <ul class="list-inline">
                                    <li>
                                        <strong>Client:</strong>
                                        Threads
                                    </li>
                                    <li>
                                        <strong>Category:</strong>
                                        Illustration
                                    </li>
                                </ul>
                                <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                    <i class="fas fa-xmark me-1"></i>
                                    Close Project
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>     <!-- 반려동물 detail Modal창 End--> {% endcomment %}

</div>


{% endblock %}

{% block script %}
<script type='text/javascript'>
const delete_elements = document.getElementsByClassName("delete");
Array.from(delete_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        if(confirm("정말로 삭제하시겠습니까?")) {
            location.href = this.dataset.uri;
        };
    });
});
</script>

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src={% static "pet_scripts.js" %}></script>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- * *                               SB Forms JS                               * *-->
<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
{% endblock %}