{% extends 'base.html' %}
{% load static %}
{% block content %}
 
<div class="pwupdate-container mb-4">
    <div class="my-3" style="height:100px; padding-top:30px">
        <h2 class="my-3 text-center">비밀번호 변경 <img src={% static 'img/black_paw.png' %} height="30px"></h2>
    </div>

    {% if messages %}
    <div class="alert alert-danger my-3" role="alert">
    {% for message in messages %}
        <strong>{{ message.tags }}</strong>
        <ul><li>{{ message.message }}</li></ul>
    {% endfor %}
    </div>
    {% endif %}


    <form method="POST">
        {% csrf_token %}
        {% include "form_errors.html" %}
        <div class="mb-3">
            <label for="user_name">현재 비밀번호</label>
            <input class="login_input form-control" name="origin_password" type="password">
        </div>

        <div class="mb-3">
            <label for="user_name">새 비밀번호</label>
            <input class="login_input form-control" name="password1" type="password">
        </div>

        <div class="mb-3">
            <label for="user_name">새 비밀번호 확인</label>
            <input class="login_input form-control" name="password2" type="password">
        </div>

        <div class="my-3" align="right">
            <button type="submit" class="pw-update-btn my-3" formaction={% url 'account:update_password' %}>변경</button>
        </div>

    </form>
</div>
{% endblock %}

{% block script %}
{% endblock %}