{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="pwcheck-container">
    <form class="pwcheck-form" method="post" action={% url 'account:check_password' %}>
        {% csrf_token %}
        {% include "form_errors.html" %}
        <article class="pw-check mx-auto">
            <div class="my-3 mb-5" style="text-align: center; margin-bottom:20px">
                <h2>비밀번호 확인</h2>
            </div>

            {% if messages %}
            <div class="alert alert-danger my-3" role="alert">
            {% for message in messages %}
                <strong>{{ message.tags }}</strong>
                <ul><li>{{ message.message }}</li></ul>
            {% endfor %}
            </div>
            {% endif %}

            <div class="pw-submit my-3">
                <input type="password" class="form-control" name="password" id="password" placeholder="비밀번호를 입력해주세요">
                <button class="pwchk my-3" type="submit" style="float:right">확인</button>
            </div>
        </article>
    </form>
</div>
{% endblock %}

{% block script %}
{% endblock %}