{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="ko">
<head>
	<title>회원가입하개</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
    <script type="text/javascript">
        function Agreement(){
            Swal.fire({
                icon: 'error',
                title: '회원가입약관에 반드시 동의해야 계정을 생성할 수 있습니다.',
              })
        }
        function CheckForm(Join){
            var check=document.register.checkAgreement.checked;
            if(!check){
                Agreement();
                return false;}
            }
    </script>
    <!--===============================================================================================-->
	<link rel="icon" href="{% static 'img/paw.png' %}"/>
	<!--===============================================================================================-->
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<!--===============================================================================================-->
	<link rel="stylesheet" href="{% static 'signup.css' %}">
</head>

<body class="signup-card">
    {% include "navbar.html" %}
    <div class="container my-3"  style="margin-bottom: 100px;">
        <form name="register" method="post" action="{% url 'account:signup' %}" onSubmit="return CheckForm(this)">
            {% csrf_token %}
            {% include "form_errors.html" %}
            
            <article class="card-body mx-auto" style="max-width: 500px;">
                <div>
                    <h2 class="card-title mt-3 text-center">회원가입하개 <img src="{% static 'img/black_paw.png' %}" height="30px"></h2>
                    <p class="text-center">아래 항목들을 모두 입력해주시개</p>
                </div>
                <p class="divider-text">
                    <br>
                </p>
                <div class="mb-3">
                    <label for="email">이메일</label>
                    <input type="text" class="form-control" name="email" id="email"
                        value="{{ form.email.value|default_if_none:'' }}">
                </div>

                <div class="mb-3">
                    <label for="password1">비밀번호</label>
                    <input type="password" class="form-control" name="password1" id="password1"
                        value="{{ form.password1.value|default_if_none:'' }}">
                    <span class="small-notice">* 영대소문자, 숫자, 특수문자 모두 포함하여 8~20자로 작성해주세요</span>    
                </div>

                <div class="mb-3">
                    <label for="password2">비밀번호 확인</label>
                    <input type="password" class="form-control" name="password2" id="password2"
                        value="{{ form.password2.value|default_if_none:'' }}">
                    <span class="small-notice">* 비밀번호를 동일하게 입력해주세요</span>  
                </div>
                
                <div class="mb-3">
                    <label for="user_name">이름</label>
                    <input type="text" class="form-control" name="user_name" id="user_name"
                        value="{{ form.user_name.value|default_if_none:'' }}">
                </div>

                <div class="mb-3">
                    <label for="nick_name">닉네임</label>
                    <input type="text" class="form-control" name="nick_name" id="nick_name"
                        value="{{ form.nick_name.value|default_if_none:'' }}">
                </div>

                <div class="mb-3">
                    <label for="birth_day">생일</label>
                    <input type="date" class="form-control" name="birth_day" id="birth_day"
                        value="{{ form.birth_day.value|default_if_none:'' }}">
                </div>
                
                <div class="mb-3">
                    <input class="input-checkbox100" id="checkAgreement" type="checkbox" name="terms-of-service">
                    <a href="" onclick="window.open(this.href, '_blank', 'width=800, height=600'); return false;">회원가입약관</a>에 모두 동의합니다.
                    
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">계정생성하기</button>
                </div>
            </article>
        </form>
        <form style="margin-bottom:100px;" action="{% url 'account:kakao' %}">
            <p class="text-center">이미 회원이신가요?
                <a href="/account/login/" class="register-in" style="color:#4169E1">로그인</a>
            </p>

            <p class="divider-text">
                <span>OR</span>
            </p>

            <div class="form-group">
                <button type="submit" id="kakao-login" class="btn btn-block btn-kakao"><img src="{% static 'img/kakao.png' %}" height="30px" margin-right:"10px"> 카카오 계정으로 로그인하기</button>
            </div>
        </form>
    </div>
    {% endblock %}
</body>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
</html>