{% extends 'base.html' %}
{% block content %}

<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs">
    <div class="container">
  
      <div class="d-flex justify-content-between align-items-center">
        <h2>일기 작성하기</h2>
        <ol>
          <li><a href={% url 'main' %}>Home</a></li>
          <li><a href={% url 'diary:index' %}>일기목록</a></li>
          <li>일기 작성하기</li>
        </ol>
      </div>
  
    </div>
</div><!-- End Breadcrumbs -->

<!-- ======= Diary Section ======= -->
<div class="container card register-form shadow my-5 px-5 py-4">

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- 오류표시 Start -->
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            {% for field in form %}
            {% if field.errors %}
            <div>
                <strong>{{ field.label }}</strong>
                {{ field.errors }}
            </div>
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}
        <!-- 오류표시 End -->

        <div class="row">

            <div class="col-lg-5">
                <div class="my-4">
                    <!-- 비디오 업로드 -->
                    <div class="my-3">
                        <div class="my-4">
                            <h5 for="imgfile">비디오 업로드 </h5>
                            <input type="file" class="form-control" name="video" id="video">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-7 px-5">

                <!-- 사용자 입력 -->
                <div class="my-4 mb-5">

                    <div class="d-flex justify-content-start mb-4">
                        <h5 for="pet" class="form-label">&bull; 반려동물 선택</h5>
                        <div class="mx-3">
                            {{ form.pet }}
                        </div>
                    </div>

                    <div class="d-flex justify-content-start">
                        <h5 for="day" class="form-label">&bull; 일기 날짜</h5>
                        <div class="mx-3">{{ form.day }}</div>  
                        <button type="button" id="set-today-button" class="btn-yellow-register btn-sm mb-3">Today</button>
                    </div>

                </div>

                <div class="mb-5">

                    <div class="d-flex justify-content-between border-bottom border-2 border-secondary pb-2 mb-3">
                        <h5 class=""><i class="bi bi-journal-plus"></i> 일기에 꼭 추가하고 싶은 내용을 작성해주세요!</h5>
                        <button type="button" id="add-content-button" class="btn btn-outline-dark btn-sm">추가</button>
                    </div>
                    <div class="mb-3" id="content-fields">
                        <!-- Content fields will be dynamically added here -->
                    </div>
                    
                </div>

                <div class="mt-5 text-lg-end ">{% comment %} 오른쪽 정렬: text-lg-end {% endcomment %}
                    <button type="submit" class="btn-register">AI로 일기 생성하기</button>
                </div>

            </div>

        </div>

        

        
    </form>
</div>
{% endblock %}

{% block script %}
<script type='text/javascript'>
// 오늘 날짜 설정
document.getElementById("set-today-button").addEventListener("click", function() {
    var today = new Date();
    var dd = String(today.getDate()).padStart(2, '0');
    var mm = String(today.getMonth() + 1).padStart(2, '0');
    var yyyy = today.getFullYear();

    today = yyyy + '-' + mm + '-' + dd;

    document.getElementById("id_day").value = today;
});


var addButton = document.getElementById("add-content-button");
var contentFields = document.getElementById("content-fields");

addButton.addEventListener("click", function() {
    var newField = document.createElement("div");
    newField.className = "mb-3";
    var input = document.createElement("input");
    input.type = "text";
    input.name = "content[]"; // Name it in a way that makes it easy to collect as a list on the server
    input.className = "form-control";
    newField.appendChild(input);
    contentFields.appendChild(newField);
});
</script>
{% endblock %}