{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- 카테고리 ver. 드롭다운 -->
{% comment %} <form method="GET" action="{% url 'diary:index' %}">
    <label for="pet_id">Category:</label>
    <select name="pet_id" id="pet_id">
        <option value="" {% if request.GET.pet_id == "" %}selected{% endif %}>전체보기</option>
        {% for pet in pet_list %}
        <option value={{ pet.id }} {% if request.GET.pet_id == pet.id %}selected{% endif %}>{{ pet.name }}의 일기</option>
        {% endfor %}
    </select>

    <button type="submit">Filter</button>
</form> {% endcomment %}

<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs">
    <div class="container">
  
      <div class="d-flex justify-content-between align-items-center">
        <h2>일기목록</h2>
        <ol>
          <li><a href={% url 'main' %}>Home</a></li>
          <li>일기목록</li>
        </ol>
      </div>
  
    </div>
</div><!-- End Breadcrumbs -->

<!-- ======= Diary Section ======= -->
<section id='blog' class='blog'>
    <div class="container my-3" data-aos="fade-up">

        <div class='diary-view-wrap'>
            <div>
                <a href="{% url 'diary:index' %}" class="btn-viewtype "><i class="bi bi-calendar3"></i> 캘린더 뷰</a>
            </div>
            <div>
                <a href="{% url 'diary:index_list' %}" class="btn-viewtype selected_type"><i class="bi bi-card-list"></i> 리스트 뷰</a>
            </div>
        </div>

        <div class="d-flex justify-content-between my-4">
            <label class="mx-2">
              전체 글 &nbsp <span class="text-danger">{{ diary_list.paginator.count }}</span>
            </label>
            <!-- 일기 작성 버튼-->
            <div>
                <a href="{% url 'diary:diary_create_before' %}" class="btn-register">일기쓰기</a>
            </div>
        </div>

        <div class="row g-5 mb-3">
            

            <div class="col-lg-4">
                <div class="sidebar register-form card shadow mb-5 bg-body rounded">
                
                    <!-- 검색 기능 -->
                    <h3 class="sidebar-title">Search</h3>
                    <div class="input-group my-3">
                    <input type="text" id="search_keyword" class="form-control" value="{{ kw|default_if_none:'' }}">
                    <div class="input-group-append">
                        <button class="btn btn-outline-success" type="button" id="btn_search">찾기 <i class="bi bi-search"></i></button>
                    </div>
                    </div>
                    <hr>

                    <!-- 카테고리 ver. 버튼 -->
                    <h3 class="sidebar-title" for="pet_id mt-2">Category</h3>
                    <div class="sidebar-item mt-4">
                        <div class="mb-4 d-flex justify-content-start">
                            <form method="GET" action="{% url 'diary:index_list' %}">
                                <input type="hidden" name="keyword" value="{{ keyword|default_if_none:'' }}">
                                <input type="submit" value="전체보기" class="btn btn-sm btn-outline-dark flex-fill">
                            </form>
                            <form method="GET" action="{% url 'diary:index_list' %}" class="">
                                <input type="hidden" name="keyword" value="{{ keyword|default_if_none:'' }}">
                                <input type="hidden" name="bookmark" value=True>
                                <input type="submit" value="즐겨찾기" class="btn btn-sm btn-outline-dark mx-3 flex-fill">
                            </form>
                        </div>
                        <hr>

                        <h3 class="sidebar-title" for="pet_id">Pets</h3>
                        <div class="sidebar-item mt-3">
                            {% for pet in pet_list %}
                                <form method="GET" action="{% url 'diary:index_list' %}">
                                    <input type="hidden" name="pet_id" value="{{ pet.id }}">
                                    <input type="hidden" name="page" value="{{ diary_list.number }}">
                                    <input type="hidden" name="keyword" value="{{ keyword|default_if_none:'' }}">
                                    <input type="submit" class="btn-yellow-register btn-sm mb-2" value="{{ pet.name }}의 일기">
                                </form>
                            {% endfor %}
                        </div>
                        
                    </div>
                </div>
            </div>

            <div class="posts-list col-lg-8">
                <div class="card shadow px-3 mb-5 bg-body rounded">
                    <!-- 일기 리스트 -->
                    {% if diary_list %}
                        {% for diary in diary_list %}
                            <div class="row border-bottom pb-2 mt-3">

                                <div class="col-lg-3">
                                    {% if diary.thumbnail %}
                                        <img src="{{ diary.thumbnail }}" alt="Diary Thumbnail" class="thumbnail-img d-block rounded">
                                    {% else %}
                                        <img src={% static "img/no posts.jpg" %} alt="Diary Thumbnail" class="thumbnail-img d-block rounded">
                                    {% endif %}
                                </div>

                                <div class="col-lg-8">
                                    <div class="d-flex align-items-center">
                                        <h2 class='title mb-1'>
                                            <a id="diary_{{ diary.id }}"></a>
                                            <a href="{% url 'diary:detail' diary.id %}">{{ diary.title }} </a>
                                        </h2> &nbsp;

                                        {% if diary.bookmark %}
                                            <i class="bi bi-bookmark-heart-fill text-danger"></i>
                                        {% else %}
                                            <i class="bi bi-bookmark-heart text-danger"></i>
                                        {% endif %}
                                    </div>

                                    <div class="meta-top my-2">
                                        <ul>
                                            <li class="d-flex align-items-center"><i class="bi bi-clock"></i> {{ diary.day }}</li>
                                        </ul>
                                    </div>

                                    <div class="d-flex align-items-center">
                                        <i class="bi bi-tags" style="color: #198754"></i>
                                        {% for keyword in diary.keywords.all %}
                                            <div class="mx-2" style="font-size: 0.9rem">#{{ keyword }}</div>
                                        {% endfor %}
                                    </div>
        
                                    

                                    <div class="d-flex justify-content-end mt-4">
                                        <div class="mx-3">
                                          <p><a href="{% url 'diary:detail' diary.id %}" class="btn btn-sm btn-outline-success">자세히 보기</a></p>
                                        </div>
                      
                                        <div class="">
                                            <!-- 북마크 기능 -->
                                            <form action="{% url 'diary:diary_bookmark' diary.id %}" method="POST">
                                                {% csrf_token %}
                                                <input type="hidden" name="keyword" value="{{ keyword|default_if_none:'' }}">
                                                <input type="hidden" name="pet_id" value="{{ request.GET.pet_id }}">
                                                <input type="hidden" name="page" value="{{ diary_list.number }}">
                                                <div class="btn btn-sm btn-outline-danger">
                                                    <input type="submit" value="Bookmark" class="bookmark-btn">
                                                </div>
                                            </form>
                                        </div>
                                    </div>

                                </div>
                            </div>


                        {% endfor %}
                    {% else %}
                        <div class="text-center mt-3">
                            <img src={% static "img/no posts.jpg"%} class="img-fluid">
                            <h1 class="mt-4">No Posts!</h1>
                        </div>
                    {% endif %}

                    <!-- 페이징처리 시작 -->
                    <ul class="pagination my justify-content-center mt-3">
                        <!-- 이전페이지 -->
                        {% if diary_list.has_previous %}
                            <li class="page-item">
                            <a class="page-link" data-page="{{ diary_list.previous_page_number }}"
                            href="?page={{ diary_list.previous_page_number }}&pet_id={{ request.GET.pet_id }}"
                            onclick="handleClick(event, {{ diary_list.previous_page_number }})"><i class="bi bi-arrow-left">&nbsp;</i></a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" tabindex="-1" aria-disabled="true" href="#"><i class="bi bi-arrow-left">&nbsp;</i></a>
                            </li>
                        {% endif %}
                        <!-- 페이지리스트 -->
                    <!-- 페이지 리스트 -->
                        {% for page_number in diary_list.paginator.page_range %}
                            {% if page_number == diary_list.number %}
                                <li class="page-item active" aria-current="page">
                                <a class="page-link" data-page="{{ page_number }}"
                                href="?page={{ page_number }}&pet_id={{ request.GET.pet_id }}&keyword={{ keyword|default_if_none:'' }}&bookmark={{ request.GET.bookmark }}"
                                onclick="handleClick(event, {{ page_number }})">{{ page_number }}</a>
                                </li>
                            {% else %}
                                <li class="page-item">
                                <a class="page-link" data-page="{{ page_number }}"
                                href="?page={{ page_number }}&pet_id={{ request.GET.pet_id }}&keyword={{ keyword|default_if_none:'' }}&bookmark={{ request.GET.bookmark }}"
                                onclick="handleClick(event, {{ page_number }})">{{ page_number }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                        <!-- 다음페이지 -->
                        {% if diary_list.has_next %}
                            <li class="page-item">
                            <a class="page-link" data-page="{{ diary_list.next_page_number }}"
                            href="?page={{ diary_list.next_page_number }}&pet_id={{ request.GET.pet_id }}"
                            onclick="handleClick(event, {{ diary_list.next_page_number }})"><i class="bi bi-arrow-right">&nbsp;</i></a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" tabindex="-1" aria-disabled="true" href="#"><i class="bi bi-arrow-right">&nbsp;</i></a>
                            </li>
                        {% endif %}
                    </ul>
                    <!-- 페이징처리 끝 -->

                </div>
            </div>
        </div>


        
        </div>

        {% comment %} <form id="searchForm" method="get" action="{% url 'post:index' %}">
        <input type="hidden" id="kw" name="kw" value="{{ kw|default_if_none:'' }}">
        <input type="hidden" id="page" name="page" value="{{ page }}">
        </form> {% endcomment %}
        <form id="searchForm" method="get" action="{% url 'diary:index_list' %}">
            <input type="hidden" id="keyword" name="keyword" value="{{ keyword|default_if_none:'' }}">
            <input type="hidden" id="page" name="page" value="{{ page }}">
            <input type="hidden" id="bookmark" name="bookmark" value="{{ request.GET.bookmark }}">
            <input type="hidden" id="pet_id" name="pet_id" value="{{ request.GET.pet_id }}">
            {% comment %} <input type="hidden" id="filter_diary_list" name="diary_list" value="{{ request.GET.diary_list }}"> {% endcomment %}
        </form>
    </div>
</section> 

{% endblock %}

{% block script %}
<script type='text/javascript'>
    var diaryBookmarkUrl = "{% url 'diary:diary_bookmark' 0 %}";
    var csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    function handleClick(event, pageNumber) {
        // 기본 동작 방지
        event.preventDefault();
      
        // 페이지 값이 1 이상인지 확인
        if (pageNumber < 1) {
          console.log('Invalid page number: ' + pageNumber);
          return;
        }
      
        // 페이지 값을 업데이트
        document.getElementById('page').value = pageNumber;
      
        // 폼 제출
        document.getElementById('searchForm').submit();
      }
    
    const btn_search = document.getElementById("btn_search");
    btn_search.addEventListener('click', function() {
      document.getElementById('keyword').value = document.getElementById('search_keyword').value;
      document.getElementById('page').value = 1;  // 검색 버튼을 클릭할 경우 1페이지부터 조회
      document.getElementById('searchForm').submit();
    });
    </script>

    <script src={% static "jquery.min.js" %}></script>
    <script src={% static "popper.js" %}></script>
    <script src={% static "main.js" %}></script>
{% endblock %}