{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
    #loading {
        position: fixed;
        z-index: 99;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.85);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #loading-content {
        text-align: center;
        display: flex;
        align-items: center; 
        justify-content: center; 
        flex-direction: column;
    }

    .loading-p1 {
        color: white;
        font-size: 3em;
        margin-top: 0.5em;
    }

    .loading-p2 {
        color: white;
        font-size: 1em;
        margin-top: 0em;
    }

    .pencil {
        display: block;
        width: 20em;
        height: 20em;
      }
      
      .pencil__body1,
      .pencil__body2,
      .pencil__body3,
      .pencil__eraser,
      .pencil__eraser-skew,
      .pencil__point,
      .pencil__rotate,
      .pencil__stroke {
        animation-duration: 3s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
      }
      
      .pencil__body1,
      .pencil__body2,
      .pencil__body3 {
        transform: rotate(-90deg);
      }
      
      .pencil__body1 {
        animation-name: pencilBody1;
      }
      
      .pencil__body2 {
        animation-name: pencilBody2;
      }
      
      .pencil__body3 {
        animation-name: pencilBody3;
      }
      
      .pencil__eraser {
        animation-name: pencilEraser;
        transform: rotate(-90deg) translate(49px,0);
      }
      
      .pencil__eraser-skew {
        animation-name: pencilEraserSkew;
        animation-timing-function: ease-in-out;
      }
      
      .pencil__point {
        animation-name: pencilPoint;
        transform: rotate(-90deg) translate(49px,-30px);
      }
      
      .pencil__rotate {
        animation-name: pencilRotate;
      }
      
      .pencil__stroke {
        animation-name: pencilStroke;
        transform: translate(100px,100px) rotate(-113deg);
      }
      
      /* Animations */
      @keyframes pencilBody1 {
        from,
          to {
          stroke-dashoffset: 351.86;
          transform: rotate(-90deg);
        }
      
        50% {
          stroke-dashoffset: 150.8;
       /* 3/8 of diameter */
          transform: rotate(-225deg);
        }
      }
      
      @keyframes pencilBody2 {
        from,
          to {
          stroke-dashoffset: 406.84;
          transform: rotate(-90deg);
        }
      
        50% {
          stroke-dashoffset: 174.36;
          transform: rotate(-225deg);
        }
      }
      
      @keyframes pencilBody3 {
        from,
          to {
          stroke-dashoffset: 296.88;
          transform: rotate(-90deg);
        }
      
        50% {
          stroke-dashoffset: 127.23;
          transform: rotate(-225deg);
        }
      }
      
      @keyframes pencilEraser {
        from,
          to {
          transform: rotate(-45deg) translate(49px,0);
        }
      
        50% {
          transform: rotate(0deg) translate(49px,0);
        }
      }
      
      @keyframes pencilEraserSkew {
        from,
          32.5%,
          67.5%,
          to {
          transform: skewX(0);
        }
      
        35%,
          65% {
          transform: skewX(-4deg);
        }
      
        37.5%, 
          62.5% {
          transform: skewX(8deg);
        }
      
        40%,
          45%,
          50%,
          55%,
          60% {
          transform: skewX(-15deg);
        }
      
        42.5%,
          47.5%,
          52.5%,
          57.5% {
          transform: skewX(15deg);
        }
      }
      
      @keyframes pencilPoint {
        from,
          to {
          transform: rotate(-90deg) translate(49px,-30px);
        }
      
        50% {
          transform: rotate(-225deg) translate(49px,-30px);
        }
      }
      
      @keyframes pencilRotate {
        from {
          transform: translate(100px,100px) rotate(0);
        }
      
        to {
          transform: translate(100px,100px) rotate(720deg);
        }
      }
      
      @keyframes pencilStroke {
        from {
          stroke-dashoffset: 439.82;
          transform: translate(100px,100px) rotate(-113deg);
        }
      
        50% {
          stroke-dashoffset: 164.93;
          transform: translate(100px,100px) rotate(-113deg);
        }
      
        75%,
          to {
          stroke-dashoffset: 439.82;
          transform: translate(100px,100px) rotate(112deg);
        }
      }
</style>

<!-- ======= Loading div, initially hidden ======= -->
<div id="loading" style="display: none;">
    <div id="loading-content">
        <svg xmlns="http://www.w3.org/2000/svg" height="200px" width="200px" viewBox="0 0 200 200" class="pencil" style="padding-bottom: 75px">
            <defs>
                <clipPath id="pencil-eraser">
                    <rect height="30" width="30" ry="5" rx="5"></rect>
                </clipPath>
            </defs>
            <circle transform="rotate(-113,100,100)" stroke-linecap="round" stroke-dashoffset="439.82" stroke-dasharray="439.82 439.82" stroke-width="2" stroke="currentColor" fill="none" r="70" class="pencil__stroke"></circle>
            <g transform="translate(100,100)" class="pencil__rotate">
                <g fill="none">
                    <circle transform="rotate(-90)" stroke-dashoffset="402" stroke-dasharray="402.12 402.12" stroke-width="30" stroke="hsl(395,90%,40%)" r="64" class="pencil__body1"></circle>
                    <circle transform="rotate(-90)" stroke-dashoffset="465" stroke-dasharray="464.96 464.96" stroke-width="10" stroke="hsl(395,90%,50%)" r="74" class="pencil__body2"></circle>
                    <circle transform="rotate(-90)" stroke-dashoffset="339" stroke-dasharray="339.29 339.29" stroke-width="10" stroke="hsl(390,90%,40%)" r="54" class="pencil__body3"></circle>
                </g>
                <g transform="rotate(-90) translate(49,0)" class="pencil__eraser">
                    <g class="pencil__eraser-skew">
                        <rect height="30" width="30" ry="5" rx="5" fill="hsl(350,85%,60%)"></rect>
                        <rect clip-path="url(#pencil-eraser)" height="30" width="5" fill="hsl(350,90%,60%)"></rect>
                        <rect height="20" width="30" fill="hsl(330,10%,90%)"></rect>
                        <rect height="20" width="15" fill="hsl(330,10%,70%)"></rect>
                        <rect height="20" width="5" fill="hsl(330,10%,80%)"></rect>
                        <rect height="2" width="30" y="6" fill="hsla(330,10%,10%,0.2)"></rect>
                        <rect height="2" width="30" y="13" fill="hsla(330,10%,10%,0.2)"></rect>
                    </g>
                </g>
                <g transform="rotate(-90) translate(49,-30)" class="pencil__point">
                    <polygon points="15 0,30 30,0 30" fill="hsl(33,90%,70%)"></polygon>
                    <polygon points="15 0,6 30,0 30" fill="hsl(33,90%,50%)"></polygon>
                    <polygon points="15 0,20 10,10 10" fill="hsl(223,10%,10%)"></polygon>
                </g>
            </g>
        </svg>
    <p class="loading-p1">반려동물이 일기를 작성하고 있어요!</p> 
    <p class="loading-p2">최대 5분정도 소요될 수 있습니다.</p>
    </div>
</div>

<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs">
    <div class="container">
  
      <div class="d-flex justify-content-between align-items-center">
        <h2>일기 작성하기</h2>
        <ol>
          <li><a href={% url 'main' %}>Home</a></li>
          <li><a href={% url 'diary:index' %}>일기목록</a></li>
          <li>일기 작성하기</li>
        </ol>
      </div>
  
    </div>
</div><!-- End Breadcrumbs -->

<!-- ======= Diary Section ======= -->
<div class="container card register-form shadow my-5 px-5 py-4">

    <form method="post" action="{% url 'diary:diary_create_before' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- 오류표시 Start -->
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            {% for field in form %}
            {% if field.errors %}
            <div>
                <strong>{{ field.label }}</strong>
                {{ field.errors }}
            </div>
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}
        <!-- 오류표시 End -->

        <div class="row">

            <div class="col-lg-5">
                <div class="my-4">
                    <!-- 비디오 업로드 -->
                    <div class="my-3">
                        <div class="my-4">
                            <h5 for="imgfile">비디오 업로드 </h5>
                            <input type="file" class="form-control" name="video" id="video" accept="video/*" required>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-7 px-5">

                <!-- 사용자 입력 -->
                <div class="my-4 mb-5">

                    <div class="d-flex justify-content-start mb-4">
                        <h5 for="pet" class="form-label">&bull; 반려동물 선택</h5>
                        <div class="mx-3">
                            {{ form.pet }}
                        </div>
                    </div>

                    <div class="d-flex justify-content-start">
                        <h5 for="day" class="form-label">&bull; 일기 날짜</h5>
                        <div class="mx-3">{{ form.day }}</div>  
                        <button type="button" id="set-today-button" class="btn-yellow-register btn-sm mb-3">Today</button>
                    </div>

                </div>

                <div class="mb-5">

                    <div class="d-flex justify-content-between border-bottom border-2 border-secondary pb-2 mb-3">
                        <h5 class=""><i class="bi bi-journal-plus"></i> 일기에 꼭 추가하고 싶은 내용을 작성해주세요!</h5>
                        <button type="button" id="add-content-button" class="btn btn-outline-dark btn-sm">추가</button>
                    </div>
                    <div class="mb-3" id="content-fields">
                        <!-- Content fields will be dynamically added here -->
                    </div>
                    
                </div>

                <div class="mt-5 text-lg-end ">{% comment %} 오른쪽 정렬: text-lg-end {% endcomment %}
                    <button type="submit" class="btn-register">AI로 일기 생성하기</button>
                </div>

            </div>

        </div>

        

        
    </form>
</div>
{% endblock %}

{% block script %}
<script type='text/javascript'>
// 오늘 날짜 설정
document.getElementById("set-today-button").addEventListener("click", function() {
    var today = new Date();
    var dd = String(today.getDate()).padStart(2, '0');
    var mm = String(today.getMonth() + 1).padStart(2, '0');
    var yyyy = today.getFullYear();

    today = yyyy + '-' + mm + '-' + dd;

    document.getElementById("id_day").value = today;
});


var addButton = document.getElementById("add-content-button");
var contentFields = document.getElementById("content-fields");

addButton.addEventListener("click", function() {
    var newField = document.createElement("div");
    newField.className = "mb-3";
    var input = document.createElement("input");
    input.type = "text";
    input.name = "content[]"; // Name it in a way that makes it easy to collect as a list on the server
    input.className = "form-control";
    newField.appendChild(input);
    contentFields.appendChild(newField);
});

$("form").on('submit', function() {
    $("#loading").show();  // 로딩 화면을 보여줍니다.
});
// 업로드 동영상의 용량 제한
$("input[name='video']").off().on("change", function(){

	if (this.files && this.files[0]) {    // 업로드한 파일이 있는 지 확인

		var maxSize = 100 * 1024 * 1024;    // 100MB 사이즈로 최대용량 지정
		var fileSize = this.files[0].size;    // 업로드한 파일의 용량

		if(fileSize > maxSize){
			alert("100MB 이내의 영상만 업로드할 수 있습니다.");
			$(this).val('');    // 업로드한 파일 제거
			return false;
		}
	}
});
</script>
{% endblock %}