<!-- 목록/수정/삭제 버튼 -->
<h1>{{ pet.name }}의 일기</h1>
<a href="{% url 'diary:index' %}">목록으로</a>
<div class="my-3">
    {% if request.user == diary.user %}
    <a href="{% url 'diary:diary_modify' diary.id  %}" 
       class="btn btn-sm btn-outline-secondary">수정</a>
    <a href="#" class="delete btn btn-sm btn-outline-secondary "
       data-uri="{% url 'diary:diary_delete' diary.id  %}">삭제</a>
    {% endif %}
</div>

<!-- 일기 내용 -->
<div>제목 : {{ diary.title }}</div>
<div>날짜 : {{ diary.day }}</div>
<div>작성 날짜 : {{ diary.registered_time }}</div>
{% if diary.registered_time != diary.updated_time %}
    <div>수정 날짜 : {{ diary.updated_time }}</div>
{% endif %}
{% for keyword in diary.keywords.all %}
<div>#{{ keyword }}</div>
{% endfor %}
{% if diary.thumbnail %}
<img src="{{ diary.thumbnail }}" alt="Diary Thumbnail" style="max-height: 200px; width: auto;">
{% endif %}
<div>{{ diary.content }}</div>

{% block script %}
<script type='text/javascript'>
const delete_elements = document.getElementsByClassName("delete");
Array.from(delete_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        if(confirm("정말로 삭제하시겠습니까?")) {
            location.href = this.dataset.uri;
        };
    });
});
</script>
{% endblock %}