/* font-family: KCC-Ganpan; */

@font-face {
  font-family: KCC-Ganpan;
  src: url('font/KCC-Ganpan.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
label, a, li, p, div, pre, .form-select, .btn {
  font-family: KCC-Ganpan;
}

/*--------------------------------------------------------------
# 버튼
--------------------------------------------------------------*/
.btn-right {
  display: inline-block;
  text-align: right;
}

.btn-register {
  border: 1px solid #198754;
  background-color: #198754;
  border-radius: 4px;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
}

.btn-register:hover  {
  border-color: #198754;
  background-color: white;
  color: #198754;
}

.comment .btn-register.btn-sm {
  border: 3px solid #fcf3c9;
  background-color: #fcf3c9;
  border-radius: 4px;
  padding: 5px 10px;
  color: black;
  text-decoration: none;
}

.comment .btn-register.btn-sm:hover  {
  border-color: #fcf3c9;
  background-color: white;
  color: #f8e591;
}

.btn-detail {
  border: 2px solid #AACB73;
  background-color: #AACB73;
  border-radius: 4px;
  padding: 5px 10px;
  color: white;
  text-decoration: none;
}

.btn-detail:hover  {
  border-color: #AACB73;
  background-color: white;
  color: #AACB73;
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 15px 0;
  background: #D7E9B9;
  min-height: 40px;
  margin-top: 10px;
}

.breadcrumbs h2 {
  font-size: 30px;
  font-weight: 300;
  margin: 0;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.breadcrumbs ol li+li {
  padding-left: 10px;
}

.breadcrumbs ol li a {
  text-decoration: none;
  color: #198754;
}

.breadcrumbs ol li a:hover {
  color: #fcf3c9;
}

.breadcrumbs ol li+li::before {
  display: inline-block;
  padding-right: 10px;
  color: var(--color-secondary-light);
  content: "/";
  text-decoration: none;
}

@media (max-width: 992px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }

  .breadcrumbs h2 {
    margin-bottom: 10px;
    font-size: 24px;
  }

  .breadcrumbs ol {
    display: block;
  }

  .breadcrumbs ol li {
    display: inline-block;
  }

}

/*--------------------------------------------------------------
# Blog Sidebar
--------------------------------------------------------------*/
.blog .sidebar {
  padding: 30px;
  box-shadow: 0 4px 16px rgba(var(--color-black-rgb), 0.1);
}

.blog .sidebar .sidebar-title {
  font-size: 20px;
  font-weight: 700;
  padding: 0;
  margin: 0;
  color: var(--color-secondary);
}

/*--------------------------------------------------------------
# Posts
--------------------------------------------------------------*/
.blog .posts-list .title {
  font-size: 24px;
  font-weight: 700;
  padding: 0;
  margin: 5px 0 0 0;
}
    
.blog .posts-list .title a {
  color: var(--color-secondary);
  transition: 0.3s;
  text-decoration: none;
}

.blog .posts-list .title a:hover {
  color: #AACB73;
}

.blog .posts-list .meta-top {
  margin-top: 10px;
  color: black;
}

.blog .posts-list .meta-top ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  /* align-items: center; */
  padding: 0;
  margin: 0;
  color: black;
}

.blog .posts-list .meta-top ul li {
  font-size: 14px;
}

.blog .posts-list .meta-top ul li+li {
  padding-left: 20px;
}

.blog .posts-list .meta-top .bi-suit-heart {
  color: red;
}

.blog .posts-list .meta-top i {
  font-size: 16px;
  margin-right: 8px;
  line-height: 0;
  color: #198754;
}

.register-form.card {
  border-top: 5px solid #fcf3c9; 
  border-bottom: 5px solid #fcf3c9;
}

.blog .posts-list .content-preview {
  max-height: 40px;
  overflow: hidden;
  font-family: KCC-Ganpan;
}

/*--------------------------------------------------------------
# Contents
--------------------------------------------------------------*/
.content ul,
.comment ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  /* align-items: center; */
  vertical-align: middle;
  padding: 0;
  margin: 0;
}

.content ul li+li,
.comment ul li+li {
  padding-left: 20px;
}

.content .bi-suit-heart, 
.comment .bi-suit-heart {
  color: red;
}

.content ul li i, 
.comment ul li i {
  font-size: 16px;
  margin-right: 8px;
  line-height: 0;
  color: #198754;
}


.content .board-title {
  border-color: #198754;
  padding: 5px 30px;
  padding-top: 10px;
  background: white;
  color: #198754;
}

.content .post-content {
  margin: 20px;
}

.content .card-header {
  background: #FFFFE8;
}

.content .card-footer {
  background: white;
}

.content pre {
  font-family: KCC-Ganpan;
  font-size:17px;
}

/*--------------------------------------------------------------
# Comment
--------------------------------------------------------------*/
.comment .container .comment-list {
  border: none;
}

.comment .card-footer {
  background: white;
}

/*--------------------------------------------------------------
# Pagination
--------------------------------------------------------------*/

.my.pagination .active a, 
.my.pagination .active span, 
.my.pagination .active a:hover, 
.my.pagination .active span:hover, 
.my.pagination .active a:focus, 
.my.pagination .active span:focus {
  background: #198754;
  border-color: white;
}

.my.pagination a, 
.my.pagination span, 
.my.pagination li {
  color: #198754;
  border-color: white;
}

.my.pagination .page-item.disabled a {
  color: gray;
  border-color: white;
}

.my.pagination .page-item a:hover {
  background: #198754;
  border-color: white;
  color: white
}

.radio-container {
  display: inline-flex;
  align-items: center;
}

.radio-container label {
  margin-right: 20px; /* 라디오 버튼 간격 조정 */
}