/* =========================================== */
/* [ mypage.html ] --------------------------- */
.mypage {
    max-width: 1000px;

    justify-content: center;
    align-items: center;
    margin: auto;
}

.info-card {
    max-width: 800px;
    height: 350px;

    margin: auto;
    
    justify-content: center;
}

.info-card .info-text{
    width: 100%;
}

.info-card .info-mod{
    text-align: right; 
    margin-right:20px;
}

.info-btn {
    max-width: 800px;

    display: flex;
    color: black;
    border-color: transparent;

    margin:auto; 
    text-align: center;

    justify-content: center;
    align-items: center;
}


.info-mod-btn {
    color: inherit;
    text-decoration: none;

    width: 160px;
    height: 40px;
    
    display : 1;

    margin: 0px 10px;

    background-color: #AACB73;
    border-radius: 5px;
    border-color: transparent;

    float: right;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.info-mod-btn:hover{
    color: #AACB73;
    background-color: black;
}
/* =========================================== */


/* =========================================== */
/* [ update.html ] --------------------------- */
.update-container {
    max-width:500px;
    align-items: center;
    border-radius: 3px;
    padding-bottom: 5px;
    margin: 0 auto;
  }

.update-btn {
    max-width: 800px;

    display: flex;
    color: black;
    border-color: transparent;

    margin:auto; 
    text-align: center;

    justify-content: center;
    align-items: center;
}

.info-update-btn {
    color: inherit;
    text-decoration: none;

    width: 160px;
    height: 40px;
    
    display : 1;

    margin: 0px;

    background-color: #AACB73;
    border-radius: 5px;
    border-color: transparent;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  
  .info-update-btn:hover {
    background-color: black;
    color: #AACB73;
  }

  .info-del-btn {
    color: white;
    text-decoration: none;

    width: 160px;
    height: 40px;
    
    display : 1;

    margin: 0px;

    background-color: grey;
    border-radius: 5px;
    border-color: transparent;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  
  .info-del-btn:hover {
    border-color: grey;
    background-color: #f2f2f2;
    color: black;
  }


/* =========================================== */


/* =========================================== */
/* [ delete.html ] --------------------------- */

.del-btn {
    max-width: 800px;

    display: flex; 
    justify-content: center;
    color: black;

    margin:auto; 
    text-align: center;
}

.del-btn button{
    color: inherit;
    text-decoration: none;

    width: 150px;
    height: 40px;
    
    display : inline-block ;

    margin: 0px 10px;

    background-color: #AACB73;
    border-radius: 5px;
    border-color: transparent;
}

.del-btn button:hover{
    color: #AACB73;
    background-color: black;
}
/* =========================================== */