/* [ password_check.html ] --------------------------- */
.pwcheck-container {
    width: 100%;  
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
    
  .wrap-login100 {
    width: 100%;
    background: #fff;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    flex-direction: row-reverse;
  }

.pwcheck-form {
    width: 600px;
    height: 400px;
    display: block;
    background-color: #f7f7f7;
    padding: 55px;
  }

.pwchk {
    width: 60px;
    height: 35px;
    border-radius: 5px;

    background-color: #AACB73;
    color: black;
    border-color: transparent;
}

.pwchk:hover {
  background-color: black;
  color: #AACB73;
}

/* [ password_update.html ] --------------------------- */
.pwupdate-container {
    max-width:500px;
    align-items: center;
    border-radius: 3px;
    padding-bottom: 5px;
    margin: 0 auto;
  }

.pw-update-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  width: 100px;
  height: 35px;
  border-radius: 5px;
  
  background-color: #AACB73;
  color: black;
  border-color: transparent;
  padding: 10px 30px;

  font-family: KCC-Ganpan;
  font-size: 18px;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 1px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.pw-update-btn:hover {
  background-color: black;
  color: #AACB73;
}