/*//////////////////////////////////////////////////////////////////
[ FONT ]*/
@font-face {
    font-family: KCC-Ganpan;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCC-Ganpan.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
  
  /*//////////////////////////////////////////////////////////////////
  [ RESTYLE TAG ]*/
  
  .signup-card  * {
      margin: 0px; 
      padding: 0px; 
      box-sizing: border-box;
  }
  
  .signup-card  body, html {
      height: 100%;
      font-family: KCC-Ganpan, sans-serif;
  }
  
  /*---------------------------------------------*/
  .signup-card  a {
      font-family: KCC-Ganpan;
      font-size: 14px;
      line-height: 1.7;
      color: #666677;
      margin: 0px;
      transition: all 0.4s;
      -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
  }
  
  /*---------------------------------------------*/
  .signup-card  h1,h2,h3,h4,h5,h6 {
      margin: 0px;
  }
  
  .signup-card  p {
      font-family: KCC-Ganpan;
      font-size: 14px;
      line-height: 1.7;
      color: #666666;
      margin: 0px;
  }
  
  .signup-card  ul, li {
      margin: 0px;
      list-style-type: none;
  }
  
  
  /*---------------------------------------------*/
  .signup-card input {
      outline: none;
      border: none;
  }
  
  .signup-card textarea {
    outline: none;
    border: none;
  }
  
  .signup-card textarea:focus, input:focus {
    border-color: transparent !important;
  }
  
  input:focus::-webkit-input-placeholder { color:transparent; }
  input:focus:-moz-placeholder { color:transparent; }
  input:focus::-moz-placeholder { color:transparent; }
  input:focus:-ms-input-placeholder { color:transparent; }
  
  textarea:focus::-webkit-input-placeholder { color:transparent; }
  textarea:focus:-moz-placeholder { color:transparent; }
  textarea:focus::-moz-placeholder { color:transparent; }
  textarea:focus:-ms-input-placeholder { color:transparent; }
  
  input::-webkit-input-placeholder { color: #999999;}
  input:-moz-placeholder { color: #999999;}
  input::-moz-placeholder { color: #999999;}
  input:-ms-input-placeholder { color: #999999;}
  
  textarea::-webkit-input-placeholder { color: #999999;}
  textarea:-moz-placeholder { color: #999999;}
  textarea::-moz-placeholder { color: #999999;}
  textarea:-ms-input-placeholder { color: #999999;}
  
  
  .signup-card label {
    display: block;
    margin: 0;
  }
  
  /*---------------------------------------------*/
  .signup-card button {
      outline: none !important;
      border: none;
      background: transparent;
  }
  
  .signup-card button:hover {
      cursor: pointer;
  }
  
  .signup-card iframe {
      border: none !important;
  }
  
  /*//////////////////////////////////////////////////////////////////
  [ utility ]*/
  
  /*==================================================================
  [ Text ]*/
  .txt1 {
    font-family: KCC-Ganpan;
    font-size: 13px;
    line-height: 1.4;
    color: #555555;
  }
  
  .txt2 {
    font-family: KCC-Ganpan;
    font-size: 13px;
    line-height: 1.4;
    color: #999999;
  }
  
  
  /*==================================================================
  [ Size ]*/
  .size1 {
    width: 355px;
    max-width: 100%;
  }
  
  .size2 {
    width: calc(100% - 43px);
  }
  
  /*==================================================================
  [ Background ]*/
  .bg1 {background: #3b5998;}
  .bg2 {background: #1da1f2;}
  .bg3 {background: #cd201f;}
  
  
  /*//////////////////////////////////////////////////////////////////
  [ login ]*/
  .limiter {
    width: 100%;
    margin: 0 auto;
  }
  
  .signup-card .container{
    max-width:480px;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 3px;
  }
  
  
  .wrap-login100 {
    width: 100%;
    background: #fff;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    flex-direction: row-reverse;
  
  }
  

  
  
  
  /*---------------------------------------------*/
  
  .focus-input100 {
    position: absolute;
    display: block;
    width: calc(100% + 2px);
    height: calc(100% + 10px);
    top: -1px;
    left: -1px;
    pointer-events: none;
    border: 1px solid #6675df;
    border-radius: 10px;
  
    visibility: hidden;
    opacity: 0;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  
    -webkit-transform: scaleX(1.1) scaleY(1.3);
    -moz-transform: scaleX(1.1) scaleY(1.3);
    -ms-transform: scaleX(1.1) scaleY(1.3);
    -o-transform: scaleX(1.1) scaleY(1.3);
    transform: scaleX(1.1) scaleY(1.3);
  }
  
  .input100:focus + .focus-input100 {
    visibility: visible;
    opacity: 1;
  
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  
  .eff-focus-selection {
    visibility: visible;
    opacity: 1;
  
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  
  .input100:focus {
    height: 48px;
  }
  
  .input100:focus + .focus-input100 + .label-input100 {
    top: 14px;
    font-size: 13px;
  }
  
  .has-val {
    height: 48px !important;
  }
  
  .has-val + .focus-input100 + .label-input100 {
    top: 14px;
    font-size: 13px;
  }
  

  /*------------------------------------------------------------------
  [ Responsive ]*/
  
  @media (max-width: 1000px) {
    .login100-form {
      width: 50%;
      padding-left: 30px;
      padding-right: 30px;
    }
  
    .login100-more {
      width: 50%;
    }
  }
  
  @media (max-width: 760px) {
    .login100-form {
      width: 100%;
    }
  
    .login100-more {
      display: none;
    }
  }
  
  @media (max-width: 576px) {
    .login100-form {
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 70px;
    }
  }
  

  
/* 계정 생성시 필요한 정보 입력 */
.small-notice {
  font-size : xx-small;
  color : red;
}

/* OR 수평선 */
.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    clear:both; 
}

.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;   
    z-index: 2;
    background-color: #f2f2f2;
}

.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
    background-color: #f2f2f2;
}


/* 계정 생성 / 카카오 로그인 버튼 */
.btn-block {
  background-color: #AACB73;
  color: black;
  font-weight:900;
  border-color: transparent;
  padding: 10px 30px;
}

.btn-block:hover {
  background-color: black;
  color: #AACB73;
}

.btn-kakao {
  background-color: #ffeb3b;
  color: black;
  font-weight: 900;
  border-color: transparent;
}

.btn-kakao:hover {
  background-color: black;
  color: #ffeb3b;
}

/* 회원가입 페이지 배경 설정 */
.signup-card{
  background-image: url("img/background.jpg");
  background-size: cover;
}