{% load static %}

<head>
    <!-- Favicons -->
    {% comment %} <link href={% static 'img/tmp_logo.jpg' %} rel="icon"> {% endcomment %}
    <!-- 부트스트랩 아이콘 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'board_style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'pet_style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'diary_style.css' %}">
    <title>오늘뭐했개? 일기쓸고양!</title>
</head>

<body>
    <!-- 네비게이션바 -->
    {% include "navbar.html" %}

    <!-- 기본 템플릿 안에 삽입될 내용 Start -->
    {% block content %}
    {% endblock %}
    <!-- 기본 템플릿 안에 삽입될 내용 End -->

    <!-- 기본 템플릿 안에 삽입될 Javascript Start -->
    {% block script %}
    {% endblock %}
    <!-- 기본 템플릿 안에 삽입될 Javascript End -->
</body>

<footer>
    
</footer>