{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
	<link rel="stylesheet" href="{% static 'navbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
</head>

<!-- 네비게이션바 -->
<nav class="navbar navbar-expand-lg navbar-light" style="padding: 0; display: flex; align-items: center;">
        <a class="navbar-brand" href="{% url 'main' %}"><img src="{% static 'img/logo.png' %}" style="height:30px; margin-right:10px;"> 오늘뭐했개? 일기쓸고양!</a>

        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{% url 'post:index' %}">{{ user.username }} Board</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'diary:index' %}">{{ user.username }} Diary</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'pet:index' %}">{{ user.username }} Pet Info</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'account:update' %}">{{ user.username }} My Page</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'account:logout' %}">{{ user.username }} Logout</a></li>
                
                {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'post:index' %}">{{ user.username }} Board</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'account:login' %}">Login</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'account:signup' %}">Sign Up</a></li>
                {% endif %}
            </ul>
        </div>
</nav>
<!-- Bootstrap JS -->
<script src="{% static 'bootstrap.min.js' %}"></script>
<script>
    $(document).ready(function() {
    var isNavbarExpanded = false;
      $('.navbar-toggler').click(function() {
        isNavbarExpanded = !isNavbarExpanded;
        $('body').toggleClass('navbar-expanded', isNavbarExpanded);

        if ($('body').hasClass('navbar-expanded')) {
            $('body').animate({ paddingTop: '298px' }, 300);
          } else {
            $('body').animate({ paddingTop: '60px' }, 300);
          }
      });

      $(window).resize(function() {
        if (isNavbarExpanded) {
          $('body').css('padding-top', '60px');
        }
      });

    });
  </script>
<!-- END nav -->
</html>