<div class='post_header'>
    {% if post.category == "free_type" %}
    <div>자유게시판</div>
    {% elif post.category == "brag_type" %}
    <div>자랑게시판</div>
    {% elif post.category == "worry_type" %}
    <div>고민게시판</div>
    {% endif %}
    <button>수정</button>
    <button>삭제</button>
</div>

<div class='post_content'>
    <h1>제목 : {{ post.title }}</h1>
    {% if post.kind == "Dog" %}
    <div>카테고리 : 강아지</div>
    {% elif post.kind == "Cat" %}
    <div>카테고리 : 고양이</div>
    {% endif %}

    {% if post.image %}
    <img src="{{ post.image }}" alt="Post Image" style="max-height: 400px; width: auto;">
    {% endif %}

    {% if post.video %}
    <video src="{{ post.video }}" controls></video>
    {% endif %}
    <div>
        {{ post.content }}
    </div>
</div>
