    <!-- message 표시 -->
    {% if messages %}
    <div class="alert alert-danger my-3" role="alert">
    {% for message in messages %}
        <strong>{{ message.tags }}</strong>
        <ul><li>{{ message.message }}</li></ul>
    {% endfor %}
    </div>
    {% endif %}

    {% if post.updated_time != post.registered_time %}
        <div class="mb-2">updated at</div>
        <div>{{ post.updated_time }}</div>
    {% endif %}
    <div class="mb-2">registered at</div>
    <div>{{ post.registered_time }}</div>
<div class='post_header'>
    {% if post.category == "free_type" %}
    <div>자유게시판</div>
    {% elif post.category == "brag_type" %}
    <div>자랑게시판</div>
    {% elif post.category == "worry_type" %}
    <div>고민게시판</div>
    {% endif %}
    {% if request.user == post.user %}
    <a href="{% url 'post:post_modify' post.id  %}" 
       class="btn btn-sm btn-outline-secondary">수정</a>
    <a href="javascript:void(0)" class="delete btn btn-sm btn-outline-secondary"
    data-uri="{% url 'post:post_delete' post.id  %}">삭제</a>
    {% endif %}
</div>

<div class='post_content'>
    <h1>제목 : {{ post.title }}</h1>
    {% if post.kind == "Dog" %}
    <div>카테고리 : 강아지</div>
    {% elif post.kind == "Cat" %}
    <div>카테고리 : 고양이</div>
    {% endif %}

    {% if post.image %}
    <img src="{{ post.image }}" alt="Post Image" style="max-height: 400px; width: auto;">
    {% endif %}

    {% if post.video %}
    <video src="{{ post.video }}" controls></video>
    {% endif %}
    <div>
        {{ post.content }}
    </div>
</div>
<h5>{{ post.comment_set.count }}개의 답변이 있습니다.</h5>
<div>
    <ul>
    {% for comment in post.comment_set.all %}
        <li>{{ comment.content }}</li>
    {% endfor %}
    </ul>
</div>
<form action="{% url 'post:comment_create' post.id %}" method="post">
    {% csrf_token %}
    <textarea name="content" id="content" rows="15"></textarea>
    <input type="submit" value="댓글등록">
    </form>
{% block script %}
<script type='text/javascript'>
const delete_elements = document.getElementsByClassName("delete");
Array.from(delete_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        if(confirm("정말로 삭제하시겠습니까?")) {
            location.href = this.dataset.uri;
        };
    });
});
</script>
{% endblock %}